@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
}
.main{
    display: flex;
    justify-content: baseline;
}
.name_survey{
    font-size: 44px;
    line-height: 52px;
    width: 276px;
    height: 52px;
    margin: 107px 0 0 207px;
}
.name_student{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 4px 0 0 207px;
    color: #000000;
}
.start{
    width: 189px;
    height: 53px;
    background: #6D64FF;
    border-radius: 10px;
    margin: 44px 0 0 207px;
    font-weight: 600;
    font-size: 25px;
    color: #ffff;
}
.Questions{
    list-style: none;
    width: 887px;
    height: 53px;
    background: #F6F4FF;
    border-radius: 5px;
    margin: 44px 0 0 7px;
    display: flex;
    align-items: center;
    color: #000000;

    justify-content: space-between;
}
.tex{
    color: #000000;
    margin-left: 22px;
    font-size: 18px;
    line-height: 21px;
}
.show{
    margin-right: -550px;
}
img{
    margin: 0 8px 0 0;
}